

.navbar{
  width: 100%;
  padding: 0 30px;
  min-height: 80px;
  overflow: hidden;
}

.brand__logo__img {
  height: 32px;
  width: auto;
}

.nav__links {
  text-decoration: none;
  color: #635f71;
  top: 0;
  letter-spacing: 0.05em;
  font-weight: 500;
  margin: 0 20px
}

.nav__line {
  position: absolute;
  height: 0px;
  left: 50px;
  top: 70px;
  right: 50px;
  border: 0.5px solid rgba(58, 216, 197, 0.5);
}

.nav__button {
  width: 159;
  height: 40px;
}

.top__blob {
  position: absolute;
  width: 583.11px;
  height: 643.3px;
  left: 66.9%;
  top: -350px;
  z-index: -1;
  opacity: 0.2;
}