.process__container{
  position: relative;
}

.process__title {
    text-align: center;
    font-family: Larsseit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0e2576;
  }
  
  .process__head__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .process__head {
    font-family: Larsseit;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: #130d2a;
    max-width: 436px;
    align-items: center;
    text-align: center;
  }
  
  .process__p {
    font-family: Larsseit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    max-width: 581px;
    color: #635f71;
    text-align: center;
  }
  
  .process__card__container {
    padding: 50px;
  }
  
  .process__card {
    background: #ffffff;
    box-shadow: 0px 3px 18px rgba(89, 126, 255, 0.1);
    border-radius: 10px;
    padding: 25px;
    margin: 0 10px 30px 10px;
    z-index: 1;
  }
  
  .process__card__det {
    font-family: Larsseit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #635f71;
  }
  
  .process__card__image {
    height: 75px;
    width: auto;
  }
  
  .process__card__titile {
    font-family: Larsseit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: #130d2a;
  }

.process__dot__vector1{
  position: absolute;
  top: 50px;
}

.process__blob2{
  position: absolute;
  opacity: 0.1;
  left: -50px;
  bottom: -250px;
}